@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  /* font-family: 'Poppins', sans-serif; */
}

/* Cursor Blinking Animation */

@keyframes animate-blink {
  50% {
    background-color: transparent;
  }
}

.blink {
  animation: animate-blink 1s steps(1) infinite;
}

/* Scroll Down Animation */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.bounce-and-fade-in {
  opacity: 0;
  animation:
    bounce 1s infinite,
    fadeIn 1s ease-out forwards;
}

.fade-in-span {
  opacity: 0;
  animation: fadeIn 1s ease-out 0.5s forwards;
}

/* Adding Monaco Font */

@font-face {
  font-family: 'MonacoWeb';
  src: url('./fonts/monaco-webfont.woff') format('woff');
  /* font-weight: 100; */
  /* font-style: normal; */
}

/* @font-face {
  font-family: 'MonacoWeb';
  src: url('./fonts/monaco-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
} */

.enter-animation {
  animation: slideInFromRight 0.5s forwards;
}

.leave-animation {
  animation: slideOutToLeft 0.5s forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* Pause Button */

.grow-and-fade {
  animation: growAndFade 1s ease forwards;
}

@keyframes growAndFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.diagonalWithBorder::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 2px solid #00bfff;
  height: 2px;
}

/* Animated Loading Gradient */

@keyframes expandGradient {
  0%,
  100% {
    background-size: 30% 100%;
    background-position: center center;
  }
  50% {
    background-size: 100% 100%;
    background-position: center center;
  }
}

.animated-gradient {
  background: linear-gradient(
    to left,
    transparent 5%,
    #00bfff 50%,
    transparent 95%
  );
  background-size: 50% 100%;
  background-repeat: no-repeat;
  animation: expandGradient 3s ease-in-out infinite;
}

/* Display Content Checkbox */

input[type='checkbox']:checked + label svg {
  display: block; /* Show checkmark when checked */
}

input[type='checkbox']:focus + label {
  box-shadow:
    0 0 0 2px white,
    0 0 0 4px #00bfff; /* Focus ring around the checkbox */
}
